<glasswalk3r@yahoo.com.br> <alceu.freitas@lendico.com.br>
<glasswalk3r@yahoo.com.br> <arfjunior@uolinc.com>
<glasswalk3r@yahoo.com.br> <arfreitas@cpan.org>
<glasswalk3r@yahoo.com.br> <cin_afreitas@uolin.com>
<glasswalk3r@yahoo.com.br> <cin_afreitas@uolinc.com>
<glasswalk3r@yahoo.com.br> <glaswalk3r@yahoo.com.br>
Mike Schilli <github@perlmeister.com>
<github@perlmeister.com> <m@perlmeister.com>
